<div *ngIf="evenement">

    <h2>{{ evenement.evenementNaam | uppercase }} Details</h2>
    <div>
        <span>id: </span>{{evenement.id}}</div>

    <table>
        <tr>
            <td>naam:</td>
            <td>{{evenement.evenementNaam}}</td>
            <td>
                <input [(ngModel)]="evenement.evenementNaam" placeholder="evenementNaam">
            </td>
        </tr>
        <tr>
            <td>plaats:</td>
            <td>{{evenement.plaats}}</td>
            <td>
                <input [(ngModel)]="evenement.plaats" placeholder="plaats">
            </td>
        </tr>
        <tr>
            <td>adres:</td>
            <td>{{evenement.adres}}</td>
            <td>
                <input [(ngModel)]="evenement.adres" placeholder="adres">
            </td>
        </tr>
        <tr>
            <td>aanvangsDatumTijd:</td>
            <td>{{evenement.aanvangsDatumTijd | date : 'medium' : timezone}}</td>
            <td>
                <input [(ngModel)]="evenement.aanvangsDatumTijd" placeholder="aanvangsDatumTijd">
            </td>
        </tr>
        <tr>
            <td>eindDatumTijd:</td>
            <td>{{evenement.eindDatumTijd | date : 'medium' : timezone}}</td>
            <td>
                <input [(ngModel)]="evenement.eindDatumTijd" placeholder="eindDatumTijd">
            </td>
        </tr>
        <tr>
            <td>active:</td>
            <td>{{evenement.active}}</td>
            <td>
                <input [(ngModel)]="evenement.active" placeholder="active">
            </td>
        </tr>
        <tr>
            <td>uitnodigingstekst:</td>
            <td>{{evenement.uitnodigingstekst}}</td>
            <td>
                <input [(ngModel)]="evenement.uitnodigingstekst" placeholder="uitnodigingstekst">
            </td>
        </tr>
        <tr>
            <td>categorie:</td>
            <td>{{evenement.categorie.categorie | json}}</td>
        </tr>
        <tr>
            <td>organisator:</td>
            <td>{{evenement.organisator.voornaam | json}}</td>
        </tr>
        <tr>
            <td>aanwezigen:</td>
            <ol class="evenement.aanwezigen">
                <li *ngFor="let persoon of evenement.aanwezigen">
                    {{persoon.voornaam | json}}
                </li>
            </ol>
        </tr>
    </table>
</div>