<h2>
  <b>
    <u>Categorien</u>
  </b>
</h2>
<h3>
  <table>
    <tr>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" id="creatief" width="400" height="100" alt="Submit">
      </td>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" width="400" height="100" alt="Submit">
      </td>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" width="400" height="100" alt="Submit">
      </td>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" width="400" height="100" alt="Submit">
      </td>
    </tr>
    <tr>
      <td>
        <label for="creatief">CREATIEF</label>
      </td>
      <td>CONCERTEN</td>
      <td>DANSEN</td>
      <td>ETEN_EN_DRINKEN</td>
    </tr>
    <tr>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" width="400" height="100" alt="Submit">
      </td>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" width="400" height="100" alt="Submit">
      </td>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" width="400" height="100" alt="Submit">
      </td>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" width="400" height="100" alt="Submit">
      </td>
    </tr>
    <tr>
      <td>FILMS</td>
      <td>LITERAIR</td>
      <td>MUSEUM</td>
      <td>ONTSPANNING</td>
    </tr>
    <tr>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" width="400" height="100" alt="Submit">
      </td>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" width="400" height="100" alt="Submit">
      </td>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" width="400" height="100" alt="Submit">
      </td>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" width="400" height="100" alt="Submit">
      </td>
    </tr>
    <tr>
      <td>POLITIEK</td>
      <td>SPELLEN</td>
      <td>SPORTIEF</td>
      <td>THEATER</td>
    </tr>
    <tr>
      <td>
        <input type="image" src="assets/images/gajemeeblack.jpg" width="400" height="100" alt="Submit">
      </td>
    </tr>
    <tr>
      <td>WETENSCHAP</td>
    </tr>
  </table>
  <br>
</h3>