<!DOCTYPE html>
<html>

<head>
    <title>GaJeMee?!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo-header">
                <a class="gjm-logo" href="http://localhost:4200/">
                    <img src="assets/images/gajemeelogo.png" alt="gajemee" height="50">
                </a>
            </div>
        </div>
    </header>

    <!-- Page Interface -->
    <router-outlet></router-outlet>

    <!-- Navbar -->
    <div class="navbar">
        <nav>
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/login" routerLinkActive="active">Login</a>
            <a routerLink="/register" routerLinkActive="active">Register</a>
            <a routerLink="/search" routerLinkActive="active">Search</a>
            <a routerLink="/createevent" routerLinkActive="active">Create Event</a>
            <a routerLink="/personen" routerLinkActive="active">Personen</a>
            <a routerLink="/events" routerLinkActive="active">Events</a>
        </nav>
    </div>

    <!-- Page Layout -->
    <div class="webpage">

        <hr>

        <h2>
            <b>
                <u>Bij Jou In De Buurt</u>
            </b>
        </h2>

        <!-- <table>
            <tr>
                <td>
                    <div class="container">
                        <img src="assets/images/gajemeeblack.jpg" alt="Submit" style="width:400px">
                        <br>
                        <i class="fa fa-tags"></i>
                        <a href="">#Eten&Drinken</a>
                        <a href="">#Ontspanning</a>
                        <td style="text-align: right">
                            <button class="btn">Ga</button>
                    </div>
                    </td>

                    <td>
                        <div class="container">
                            <img src="assets/images/gajemeeblack.jpg" alt="Submit" style="width:400px">
                            <br>
                            <i class="fa fa-tags"></i>
                            <a href="">#Eten&Drinken</a>
                            <a href="">#Ontspanning</a>
                            <td style="text-align: right">
                                <button class="btn">Ga</button>
                        </div>
                        </td>

                        <td>
                            <div class="container">
                                <img src="assets/images/gajemeeblack.jpg" alt="Submit" style="width:400px">
                                <br>
                                <i class="fa fa-tags"></i>
                                <a href="">#Eten&Drinken</a>
                                <a href="">#Ontspanning</a>
                                <td style="text-align: right">
                                    <button class="btn">Ga</button>
                            </div>
                            </td>
            </tr>
        </table> -->
    </div>

    <!-- Footer -->
    <footer>
        <i class="fa fa-copyright"></i> 2018 Gajemee</footer>
</body>

</html>