/* AppComponent's private CSS styles */
html {
  width:100%;
  height:100%;
}
body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif
}

.w3-bar,h1,button {
  font-family: "Montserrat", sans-serif
}

.fa-anchor,.fa-coffee {
  font-size:200px
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  text-align: center;
}
nav a:visited, a:link {
  color: rgb(40, 51, 56);
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
div.container {
  width: 100%;
  border: 1px solid gray;
}
header {
  display: block;
}

footer {
  padding: 1em;
  color: white;
  background-color: rgb(73, 73, 73);
  clear: left;
  text-align: center;
  border-top: #666A73 solid 6px;
}
div.top {
  text-align: right
}

div.nav-header {
  text-align: center;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 12px;
  margin: 8px 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px
}

button:hover {
  background-color: #45a049;
}

.nav-header {
  display: block;
  float: right;
  margin: 0px 20px;
  width: 110px;
  height: 60px;
}

.logo-header {
  display: block;
  float: left;
  margin: 0px 20px;
  width: 110px;
  height: 60px;
}

.gjm-logo {
  display: block;
  float: left;
  margin: 0px 20px;
}

a {
  background-color: transparent;
}

body .global-header {
  text-transform: uppercase;
  border: none;
  border-left: 1px solid #EFF2F5;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  letter-spacing: 0.5px;
  border-radius: 0px;
  color: #45494E;
}

.header-link {
  display: inline-block;
  font-weight: 400;
  line-height: 19px;
  vertical-align: top;
  padding: 22px 20px 19px 20px;
}

.navbar {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:transparent;
  position: fixed;
  left: 30%;
  top: 0;
  width: 100%;
}

li {
  float: left;
  font-size: 24px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 26px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(201, 201, 201);
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.webpage {
  padding: 0px 100px

}

.image-container {
  transition: ease-in;
  max-height: 100px;
  position: relative;
  background-color: #fff;
 }

div {
  display: block;
  margin: 0;
  padding: 0;
}

.l-align-center {
  text-align: center;
}

.homepage-search-card {
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  position: absolute;
  bottom: 320px;
  right: 25%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 50%;
}

.card {
  background: #fff;
  display: block;
}

.overflow {
  overflow: visible;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 160px;
  width: 100%;
}