<style>
  input[type=text],
  input[type=email],
  input[type=password],
  select
  {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

 .search-specifics {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=date] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  input[type=submit] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
  <input type="text" value="{{input_search}}" placeholder="Search...">

  <button>
    <i class="fa fa-search"></i>
  </button>
<br>
  <div class="search-specifics">

    <table>
      <tr>
        <td>van</td>
        <td>
          <input type="date">
        </td>
        <td>tot</td>
        <td>
          <input type="date">
        </td>
      </tr>
    </table>
    <details>
      <summary>
        <i class="fa fa-tags"></i> Categorien
      </summary>
      <table>
        <tr>
          <td>
            <input type="checkbox" value="checked">
          </td>
          <td>CREATIEF </td>
          <td>
            <input type="checkbox">
          </td>
          <td>CONCERTEN </td>
          <td>
            <input type="checkbox">
          </td>
          <td>DANSEN </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>ETEN_EN_DRINKEN </td>
          <td>
            <input type="checkbox">
          </td>
          <td>FILMS </td>
          <td>
            <input type="checkbox">
          </td>
          <td>LITERAIR </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>MUSEUM </td>
          <td>
            <input type="checkbox">
          </td>
          <td>ONTSPANNING </td>
          <td>
            <input type="checkbox">
          </td>
          <td>POLITIEK </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>SPELLEN </td>
          <td>
            <input type="checkbox">
          </td>
          <td>SPORTIEF </td>
          <td>
            <input type="checkbox">
          </td>
          <td>THEATER </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>WETENSCHAP </td>
        </tr>
      </table>

    </details>

  </div>
</div>