<h2>Search</h2>
<table>
  <tr>
    <td></td>
    <td>
      <input type="text" value="{{input_search}}" size="60">
      <button>Search</button>
    </td>

  </tr>
</table>



<table>
  <tr>
    <td></td>
    <td>
      <input type="date">
    </td>
    <td></td>
    <td>
      <input type="date">
    </td>
  </tr>
</table>
<details>
  <summary>
    Categorien
  </summary>
  <table>
    <tr>
      <td>
        <input type="checkbox" value="checked">
      </td>
      <td>CREATIEF </td>
      <td>
        <input type="checkbox">
      </td>
      <td>CONCERTEN </td>
      <td>
        <input type="checkbox">
      </td>
      <td>DANSEN </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox">
      </td>
      <td>ETEN_EN_DRINKEN </td>
      <td>
        <input type="checkbox">
      </td>
      <td>FILMS </td>
      <td>
        <input type="checkbox">
      </td>
      <td>LITERAIR </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox">
      </td>
      <td>MUSEUM </td>
      <td>
        <input type="checkbox">
      </td>
      <td>ONTSPANNING </td>
      <td>
        <input type="checkbox">
      </td>
      <td>POLITIEK </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox">
      </td>
      <td>SPELLEN </td>
      <td>
        <input type="checkbox">
      </td>
      <td>SPORTIEF </td>
      <td>
        <input type="checkbox">
      </td>
      <td>THEATER </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox">
      </td>
      <td>WETENSCHAP </td>
    </tr>
  </table>

</details>