<style>
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
</style>

<h2>
  <u>Mijn Evenementen</u>
</h2>

<div>
  <ul class="personen">
    <li *ngFor="let evenement of evenementen" (click)="onSelect(evenement)">
      <span class="badge">{{evenement.id}}</span>{{evenement.evenementNaam}}
    </li>
  </ul>
  <div *ngIf="!evenementen">
    Geen evenementen gevonden!
  </div>

  <app-evenement-detail [evenement]="selectedEvenement"></app-evenement-detail>
</div>

<h1>Angular maps</h1>

<div #gmap style="width:50%;height:400px"></div>